body {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    line-height: 1.5em;
    margin: 0;
    min-height: 100%;
    display: block;
}
.logo {
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
}
.column {
    display: flex;
    height: 100vh;
    margin: 0px;
}
.column-left {
    width: 375px;
    display: flex;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    flex: 0 auto;
    background-color: #f3f3f3;
    margin-left: 0px;
}
.grid {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-rows: auto;
    margin-top: 75px;
}
.paragraph {
    margin: 0 40px 0 40px;
    line-height: 1.4em;
}
.form {
    height: 55px;
    background-color: #bad424;
    margin: 15px 38px 0px 32px;
    border: 1px solid #bad424;
    border-radius: 5px;

}
.button {
    padding: 10px 12px;
    min-width: 112px;
    margin-top: 0px;
    height: 54px;
    border: 1px solid #bad424;
    background-color: #bad424;
}
.email {
    height: 100%;
    border: 1px solid #bad424;
}
.link {
    color: #333;
}
.social {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-row-gap: 16px;

}
.media {
    max-width: 100%;
    display: inline-block;
    background-color: rgba(24, 119, 242, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin: 14px;
} 
.social :hover {
    background-color: royalblue;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 375px;
}
.column-right {
    display: flex;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    flex: 1;
    background-color: #fff;
}
.html-embed {
    margin: 40px 40px 0px 40px;
    width: 100%;
    box-shadow: 1px 0 8px 3px rgb(0 0 0 / 15%);
}