body {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
  .container {
    margin: 30px auto;
    width: 350px;}
  h4 {
    margin: 0;
    text-transform: uppercase;
  }
  h1 {
    margin: 0;
  }
  .inc-exp-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
  }
  .income {
    border-right: 1px solid #bbb;
    width: 104px;
    position: relative;
    left: 49px;
  }
  .expense {
    border: 1px solid black;
    border: none;
    width: 118px;
    position: relative;
    left: 0px;
  }
  .money.add {
    color: #2ECC71;
  }
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  .money.sub {
    color: #C0392B;
  }
  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
  }
  .list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .list li {
    background-color: #fff;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    height: 15px;
  }
  
  .text {
    display: grid;
    margin-top: 25px;
  }
  .text input {
    height: 20px;
    border: 1px solid #bbb;
    margin-top: 9px;
    padding: 10px;
    font-size: 16px;
}
.amount {
    display: grid;
    margin-top: 10px;
}
.amount input {
    border: 1px solid #bbb;
    margin-top: 9px;
    padding: 10px;
    font-size: 16px;
}
.btn {
    cursor: pointer;
    background-color: #9C88FF;
    color: #fff;
    border: none;
    display: block;
    font-size: 16px;
    margin: 10px 0 0px;
    padding: 10px;
    text-align: center;
}
.delete-btn {
  cursor: pointer;
  border: 0;
  background-color: #e74c3c;
  color: #fff;
  padding: 2px 5px;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
li:hover, .delete-btn:hover{
  opacity: 1;
}

