p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}
.container {
    border: 2px solid;
    border-radius: 5px;
    margin-top: 5rem;
    background: darkgray;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}