html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f9fafb;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #ffffff;
    width: 25rem;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 40%);
}

.container {
    padding: 0 40px 0 38px;
}
.form {
    padding: 30px 40px;
    margin-left: -38px;
    
}

h2 {
    display: flex;
    justify-content: center;
    margin: 5px 0 18px 60px;
    font-family: 'Open Sans', sans-serif;

}
.form-place {
    margin-bottom: 8px;
    padding-bottom: 14px;
    position: relative;
}
input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 106%;
    padding: 10px;
    font-size: 14px;
}
label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}
button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 114%;
}
p {
    font-size: smaller;
    color: #e85658;
    margin-top: 4px;
}
input:focus {
    outline: none;
}

.checkpwd {
    display: flex;
    align-items: center;
    position: absolute;
    width: 240px;
}