body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    min-width: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.settingbutton {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #1f2b38;
    height: 70px;
    color: #fff;
    transition: ease-in-out 0.3s;

}
select {
    width: 200px;
    appearance: none;
    background-color: #a7c5e3;
    border-radius: 0;
    padding: 5px;
}
select :focus, button :focus {
    outline: none;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #34495e;
    width: 460px;
    height: 188px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.time {
    position: absolute;
    top: 60px;
    left: 20px;
}
.score {
    position: absolute;
    top: 60px;
    right: 20px;
}
.game-end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
}
h2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}
input {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
}

h1 {
    margin: 0;
  }

button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
}