@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9yAs5gU1ECVZl_86Y.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }


body {
    font-family: "Nunito Sans";
    line-height: 1.8;
    font-weight: 400;
}  

.subheading {
    font: 16px serif;
    font-family: "Nuniton Sans";
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
    letter-spacing: 2px;
    color: #9ff669;
}
p {
    color: #999999;
    margin: 0px 0px 16px;
    font: 16px;
}
.image {
    width: 100%;
    height: 75vh;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pic {
    height: 748px;
}
.text {
    position: absolute;
    background: #31de79;
    text-transform: uppercase;
    padding: 24px 24px 24px 120px;
    left: -66px;
}
.number {
    font-weight: 400;
    font-size: 30px;
    color: #000;
}
/*.span {
    font-size: 18px;
    color: #000;
    margin: 0px 0px 10px;
}*/

.position {
    letter-spacing: 1px;
    color: #31de79;
    display: block;
    text-transform: uppercase;
}
/*.picture1 {
    background-image: url(../images/image_1.jpg);
    width: 100%;
    height: auto;
}*/


.lab {
    color: chartreuse;
  }
  .digi {
    font-size: 24px;
    font-weight: 900;
    color: #000;
    margin-left: -4px;
  }
  .digi:hover {
    color: #000;
  }
  .header-link {
    color: #000;
    padding-left: 11px !important;
    padding-right: 13px !important;
  }
  .header-link:hover {
    color: black;
    border-bottom: 2px solid #31de79;
  }

  .header-link:active {
      color: #31de79;
      border-bottom: 2px solid #31de79;
  }

  body {
    font-family: "Nunito Sans", Arial, sans-serif;
}  


/*.paragraph {
    color: #999999;
    margin: 0px 0px 16px;
    font: 16px serif;
}

.image {
    width: 100%;
    height: auto;
}

.pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text {
    position: absolute;
    background: #31de79;
    text-transform: uppercase;
    padding: 24px 24px 24px 120px;
    left: -66px;

}*/

.staff, .img {
    height: 150px;
    width: 150px;
    margin: 0px auto;
    background-position: top center;
    border-radius: 50%;
    overflow: hidden;
}

/*.position {
    letter-spacing: 1px;
    color: #31de79;
    display: block;
    text-transform: uppercase;
}*/
/*.staff, .text, .faded {
    opacity: 1;
    width: 100%;
}
.logo {
    padding: 3px;
    cursor: pointer;
}
.name {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0,0,0,0.9);
    font-family: inherit;
}

.heading {
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 1.5;
    color: rgba(0,0,0,0.9);
    font-family: inherit;
    margin-top: 0;
}